<div class="container">
  <% provide(:title, "Sign up") %>
  <h2 class="title">新規登録</h2>

  <%= render "userform" %>
  <div class="container mt-3">
    <%= render "devise/shared/links" %>
  <div>
</div>