<div class="container">
  <h4 class="sub-title">通知</h4>
  <% if @notifications.exists? %>
    <div class="users-index">
      <%= render partial: 'notification', collection: @notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>