<div class="container">
  <% if @user.followers.count == 0 %>
    <h2>フォロワーがいません</h2>
  <% else %>
    <% @user.followers.each do |user| %>
      <table class=table>
        <tr>
          <th>ユーザ名</th>
          <th>リンク</th>
        </tr>
        <tr>
          <td><%= user.username %></td>
          <td><%= link_to '詳細', user_path(user) %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>