<header class="masthead">
  <div class="masthead-heading">
    <div>「理想の自分に近づくために」</div>
    <div>目標を設定して達成しよう！</div>
  </div>
  <a class="btn btn-xl top-button btn-primary" href="#services">サイトについて</a>
  <a class="btn btn-xl top-button btn-primary" href="#login">ログインする</a>
  <a class="btn btn-xl top-button btn-primary" href="#signup">新規登録する</a>
</header>

<section id="services">
  <div class="container" id="services">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">サイトについて</h2>
        <h3 class="section-subheading text-muted">理想の自分に近づくための「目標」、大切な人との「約束」を叶えるための<br>。</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">特徴</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>「出来るようになること」「具体的に何をするのか」について、実際に働いたことのある方が投稿<br><i class="fa fa-check fa-fw"></i>投稿項目はグラフを使ってビジュアル化<br><i class="fa fa-check fa-fw"></i>年収・福利厚生といった項目は無いシンプルなサービス<br></p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">ミッション</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>誰もが「出来るようになること」「具体的に何をするのか」で会社を選べるようにし、個人のスキルアップの手助けとなること<br><i class="fa fa-check fa-fw"></i>就業のミスマッチが減ることにより、不本意な転職が減少し、日本全体の生産性を向上させること</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-history fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">設立経緯</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>私自身の就職・転職活動時に、「スキルを身につけたい」という会社を選ぶ軸があったものの、それぞれの会社で働くことによって身につくスキルについて分からず、その情報についても集めることができなかった<br><i class="fa fa-check fa-fw"></i>1社で定年まで働くスタイルは過去のものとなりつつあり、今後は1人1人が自らのスキルを高めるために働く時代が来ると感じ、自分で1から作り、立ち上げた。</p>
      </div>
    </div>
  </div>
</section>

<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">ログイン</h2>
        <h3 class="section-subheading text-muted">ゲストユーザでログインも可能です。<br>ログインすると投稿・いいね！・コメントができます。</h3>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-xl btn-outline-primary" %>
      </div>
    </div>
  </div>
</section>

<section id="signup">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">無料会員登録</h2>
        <h3 class="section-subheading text-muted">1分程度でできます。<br>登録すると投稿・いいね！・コメントができます。</h3>
        <%= link_to "無料会員登録へ", new_user_registration_path, class: "btn btn-xl btn-outline-primary" %>
      </div>
    </div>
  </div>
</section>