<div class="container">
  <div class="row row-cols-3">
    <div class="col-md-1"><%= link_to "Edit", edit_goal_path(@goal), {class: "btn btn-large btn-primary"} %></div>
    <div class="col-md-1"><%= link_to "Delete", goal_path(@goal), method: :delete, class: "btn btn-large btn-primary" %></div>
    <div class="col-md-1">
      <% if @goal.done == false %>  
          <%= link_to "Done", done_goal_path(@goal), method: :patch, class: "btn btn-large btn-primary" %>
      <% else %>
          <%= link_to "Undone", undone_goal_path(@goal), method: :patch, class: "btn btn-large btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>